<!-- app/views/pages/home.html.erb -->
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center mt-4 centered-column-container">
    <h4 class="mt-4 text-white">Authorize with Jira</h4>
    <% if current_user %>
      <%= button_to 'Authorized', '/auth/atlassian_oauth2', class: 'btn btn-primary btn-lg mt-4 auth-button', disabled: true %>
    <% else %>
      <%= button_to 'Authorize', '/auth/atlassian_oauth2', class: 'btn btn-primary btn-lg mt-4 auth-button' %>
    <% end %>

    <div class="mt-4 mb-4 space-between-container">
      <% if current_user %>
        <%= button_to 'Cancel', logout_path, method: :delete, class: 'btn btn-primary btn-lg cancel-button' %>
      <% else %>
        <%= button_to 'Cancel', logout_path, method: :delete, class: 'btn btn-primary btn-lg cancel-button', disabled: true %>
      <% end %>
      <%= render 'jira/shared/alerts' %>
      <%= button_to 'Next', fetch_latest_projects_projects_path, method: :post, class: 'btn btn-primary btn-lg next-button' %>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
