<%= javascript_include_tag 'edit_importing_project' %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="container-question col-md-6 text-center mt-4 " style="background-color: #262B2F;">
    <h4 class="mt-4 text-white">Project <%= @project.name %> Importing</h4>
    <%= form_with(model: @project, url: update_importing_project_path, local: true) do |form| %>
      <%= form.hidden_field :project_id, value: @project.id %>

      <div class="field mt-4">
        <%= form.label :prefix, "Prefix", class: "text-white" %>
        <%= form.text_field :prefix, class: "restricted-input prefix-field" %>
      </div>
      <div class="field">
        <%= form.label :title, "Title", class: "text-white" %>
        <%= form.text_field :codegiant_title, class: "title-field", value: @project.name %>
      </div>

      <div class="mt-4 mb-4 space-between-container">
        <button type="button" onclick="location.href='<%= projects_path %>'" class="btn btn-primary btn-lg edit-button">Cancel</button>
        <%= render 'jira/shared/alerts' %>
        <button type="submit" class="btn btn-success edit-button">Next</button>
      </div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>
